.roadmap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  background-color: #373f68;
  padding: 27px 32px;
  margin: 0 auto;
  @media screen and (min-width: 700px) {
    height: 113px;
  }
  @media screen and (min-width: 700px) {
    margin-top: 78px;
    border-radius: 10px;
  }

  h2 {
    font-size: 18px;
    @media screen and (min-width: 700px) {
      font-size: 24px;
    }
  }

  img {
    filter: brightness(0) invert(1);
    margin-right: 10px;
  }

  a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    @media screen and (min-width: 700px) {
      font-size: 15px;
    }
  }
}

.roadmap-second-header {
  padding: 20px 0px 16px 0px;
  border-bottom: 1px solid #8c92b345;
  max-width: 1100px;
  margin: 0 auto;
  @media screen and (min-width: 700px) {
    border: none;
  }

  ul {
    display: flex;
    list-style-type: none;

    .default {
      opacity: 40%;
      cursor: pointer;
      flex-grow: 1;
      text-align: center;
      font-weight: bold;
      font-size: 13px;
      color: #3a4374;
      position: relative;
      @media screen and (min-width: 700px) {
        font-size: 15px;
        opacity: 100%;
        text-align: left;
        p {
          font-size: 15px;
          font-weight: normal;
        }
      }
    }

    .active {
      opacity: 100%;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: -17px;
        left: 0;
      }
    }
    .planned::after {
      background: #f49f85;
    }
    .in-progress::after {
      background: #ad1fea;
    }
    .live::after {
      background: #62bcfa;
    }
  }
}

.roadmap-main {
  max-width: 1100px;
  margin: 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 700px) {
    margin: 0 auto;
  }
}

.array-description {
  font-size: 18px;
  font-weight: bold;
  color: #3a4374;
  margin-top: 24px;
  p {
    font-size: 13px;
    font-weight: normal;
    color: #647196;
  }
}

// border top coloring function runs and renders "suggestion-card-top" + "purple" || "orange" || "blue"
.suggestion-card-top {
  background: white;
  border-radius: 5px;
  border-right: 1px solid #f7f8fd;
  border-left: 1px solid #f7f8fd;
}

.purple {
  border-top: 6px solid #ad1fea;
}

.orange {
  border-top: 6px solid #f49f85;
}

.blue {
  border-top: 6px solid #62bcfa;
}

.tester-container {
  display: flex;
}
