.roadmap-nav {
  padding: 20px 0px 16px 0px;
  border-bottom: 1px solid #8c92b345;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  @media screen and (min-width: 700px) {
    border: none;
  }

  ul {
    display: flex;
    list-style-type: none;

    .default {
      opacity: 40%;
      cursor: pointer;
      flex-grow: 1;
      text-align: center;
      font-weight: bold;
      font-size: 13px;
      color: #3a4374;
      position: relative;
      @media screen and (min-width: 700px) {
        font-size: 15px;
      }
    }

    .large {
      opacity: 100%;
      text-align: left;
      p {
        font-size: 15px;
        font-weight: normal;
      }
    }

    .active {
      opacity: 100%;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: -17px;
        left: 0;
      }
    }
    .planned::after {
      background: #f49f85;
    }
    .in-progress::after {
      background: #ad1fea;
    }
    .live::after {
      background: #62bcfa;
    }
  }
}

.current-select {
  font-size: 18px;
  font-weight: bold;
  color: #3a4374;
  p {
    font-size: 13px;
    font-weight: normal;
    color: #647196;
  }
}

.suggestion-card-top {
  background: white;
  border-radius: 5px;
  border-right: 1px solid #f7f8fd;
  border-left: 1px solid #f7f8fd;
}

.purple {
  border-top: 6px solid #ad1fea;
}

.orange {
  border-top: 6px solid #f49f85;
}

.blue {
  border-top: 6px solid #62bcfa;
}
