.wrapper {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -72px;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  @media screen and (min-width: 700px) {
    position: initial;
  }
  @media screen and (min-width: 1000px) {
    width: auto;
  }

  nav {
    z-index: 100;
    width: 70%;
    background: #f7f8fd;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 20px;
    @media screen and (min-width: 700px) {
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }
    @media screen and (min-width: 1000px) {
      flex-direction: column;
    }

    .features-ul {
      list-style-type: none;
      width: 223px;
      height: 178px;
      display: flex;
      background: white;
      border-radius: 10px;
      flex-wrap: wrap;
      gap: 14px;
      align-items: center;
      padding: 24px 18px 36px 24px;

      li {
        width: fit-content;
        background: #f2f4ff;
        padding: 5px 15px;
        border-radius: 10px;
        color: #4661e6;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          background: #cfd7ff;
        }
      }
    }
  }

  .roadmap {
    width: 223px;
    height: 178px;
    display: flex;
    background: white;
    border-radius: 10px;
    padding: 24px;
    flex-direction: column;
    gap: 24px;

    .link-wrapper {
      width: 100%;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 18px;
      }

      a {
        font-size: 13px;
        color: #4661e6;
      }
    }

    .roadmap-status {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      li {
        display: flex;
        justify-content: space-between;
        color: #647196;
        font-weight: 400;
      }
    }
  }
}

.tablet-logo {
  width: 223px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  border-radius: 10px;
  padding: 24px;
  background: url("../../assets/suggestions/tablet/background-header.png");
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.75;
  }
}
