.header {
  width: 100%;
  display: flex;
  background-image: url("../../assets/suggestions/mobile/background-header.png");
  background-repeat: inherit;
  height: 72px;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    cursor: pointer;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    h1,
    h2 {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.secondheader {
  width: 100%;
  height: 56px;
  background-color: #373f68;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
  font-size: 13px;
  p {
    font-weight: 300;
    display: flex;
  }
  span {
    font-weight: 600;
    display: flex;
    gap: 10px;
    padding-left: 5px;
    align-items: center;
    cursor: pointer;
  }
}

.main {
  max-width: 100%;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
