@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background-color: #f7f8fd;
}

.dot {
  width: 8px;
  height: 8px;
  background: red;
  align-self: center;
  border-radius: 50%;
  margin-right: 16px;
  display: inline-block;
}
.orange-d {
  background: #f49f85;
}
.purple-d {
  background: #ad1fea;
}
.blue-d {
  background: #62bcfa;
}
