.feedback-header {
  padding: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 730px;
  margin: 0 auto;

  div {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      color: #647196;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
    }

    img {
      height: 10px;
      width: 6px;
    }
  }
}
