.feedback-header {
  padding: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 730px;
  margin: 0 auto;

  div {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      color: #647196;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
    }

    img {
      height: 10px;
      width: 6px;
    }
  }
}

.roadmap-header {
  background-color: #373f68;
  .roadmap-items {
    color: white;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 18px;
      @media screen and (min-width: 700px) {
        font-size: 24px;
      }
    }
    div {
      align-self: flex-start;
    }
  }
  div img {
    filter: brightness(0) invert(1);
  }
  div a {
    color: white;
  }
  @media screen and (min-width: 700px) {
    margin-top: 78px;
    border-radius: 10px;
  }
}
